/*主页样式设置*/
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei", 微软雅黑；
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
    height: 40px;
    background: url(../images/top_bg.jpg) 0 13px repeat-x;
}

.nav-top {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.nav-top ul {
    float: right;
}

.nav-top li {
    list-style-image: url(../images/li_bg.gif); /*项目列表符号*/
    /*display:inline-block;*/
    float: left;
    width: 80px;
    line-height: 40px;
    margin-right: 10px;
}

.nav-top li a:link, .nav-top li a:visited {
    color: #8e8e8e;
}

.nav-top li a:active, .nav-top li a:hover {
    color: #900;
}

main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 1000px;
    margin: 0 auto;
    height: 80px;
    background-color: #fff;
}

.logo-right {
    width: 300px;
    float: right;
    margin-top: 26px;
    height: 28px;
    color: #8e8e8e;
}

.contact {
    display: inline-block;
    text-indent: 10px;
}

.logo-right img, .contact {
    vertical-align: middle;
}

.tel {
    font-size: 18px;
    color: #f24;
}

.nav-main {
    height: 40px;
    width: 1000px;
    margin: 0 auto;
    background: url(../images/nav_bg.jpg) repeat-x;
    overflow: hidden;
}

.nav-main ul {
    float: left;
    height: 40px;
}

.nav-main li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

.nav-main li a {
    color: #fff;
    font-family: 宋体；
}

.nav-main li a:hover {
    color: #ff0;
}

.search {
    width: 220px;
    height: 25px;
    border: solid 1px #fff;
    margin-top: 6px;
    margin-left: 80px;
    background: url(../images/search.jpg) right center no-repeat;
    background-color: #fff;
    text-indent: 15px;
    padding-right: 30px;
}

.ad {
    width: 1000px;
    height: 310px;
    overflow: hidden;
    margin: 0 auto;
}

.info {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    height: 300px;
    background-color: #fff;
}

/*.info {
    width:1000px;
    height: 300px;
    background-color: #fff;
    margin-top: 10px;
}*/

.news {
    width: 340px;
    border: solid 1px #e8e8e8;
}

.course {
    width: 410px;
    border: solid 1px #e8e8e8;
    margin: 0 7px;
}

.sidebar {
    width: 230px;
}

.news, .course, .sidebar {
    height: 300px;
    float: left;
}

.title {
    height: 35px;
    line-height: 35px;
    border-bottom: solid 2px #e8e8e8;
    overflow: hidden;
}

.title-left {
    float: left;
    width: 70%;
    font-weight: bold;
    color: #786f66;
    text-indent: 20px;
}

.title-right {
    float: right;
    width: 20%;
    text-align: right;
    color: #999;
    padding-right: 10px;
}

.pic-news {
    height: 88px;
    line-height: 22px;
    margin-top: 10px;
}

.pic-news img {
    width: 113px;
    height: 88px;
}

.pic-news img, .course-pic img {
    float: left;
    margin: 0 8px;
}

.pic-news a, .course-pic a {
    color: #c00;
}

.news-list ul li {
    list-style: inside url(../images/list.jpg);
    margin: 10px 0;
    border-bottom: dotted 1px #ccc;
}

.news-list ul li:last-child {
    border: none;
}

.news-list span {
    color: #777;
    float: right;
}

.news-list a:link, .news-list a:visited {
    color: #000;
}

.news-list a:hover, .news-list a:active {
    color: #c00;
}

.course-pic {
    height: 120px;
    margin-top: 10px;
    line-height: 22px;
}

.course-pic img {
    width: 158px;
    height: 106px;
}

.course-pic p {
    font-size: 12px;
}

.course-list {
    width: 372px;
    height: 37px;
    background: url(../images/product_type_bg.jpg) no-repeat;
    margin: 27px auto;
}

.course-list li {
    display: inline-block;
    line-height: 37px;
    margin: 0 10px;
}

/*.course-list ul li {
    float: left;
    line-height: 40px;
    list-style: none;
    margin: 0 10px;
}*/
.video {
    width: 230px;
    height: 140px;
    border: solid 1px #e8e8e8;
    margin-bottom: 20px;
}

.sidebar img {
    width: 225px;
    height: 55px;
    border: solid 1px #e8e8e8;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #e8e8e8;
    margin-top: 20px;
    overflow: hidden;
}

.copyright {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.copyright li {
    list-style: none;
    float: left;
    width: 200px;
    background: url(../images/line.png) no-repeat right center;
    text-align: center;
    line-height: 30px;
}

.copyright a {
    font-size: 18px;
    color: #999;
}

.copyright li ul li a {
    font-size: 14px;
}

.weixin {
    width: 30px;
    height: 27px;
}

.qrcode {
    width: 102px;
    height: 102px;
}

/*新闻列表页样式*/
.list-ad {
    width: 1000px;
    height: 243px;
    margin: 0 auto;
}

.list-ad img {
    width: 1000px;
    height: 243px;
}

.list-info {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
}

.news-type {
    width: 220px;
    float: left;
    border: solid 1px #e8e8e8;
}

.news-content {
    width: 770px;
    float: right;
    border: solid 1px #e8e8e8;
}

.news-type h2 {
    height: 35px;
    line-height: 35px;
    color: #999;
    background: url(../images/titile_bg.gif) repeat-x;
    text-indent: 20px;
}

.news-type li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    background: url(../images/content_bg.gif) repeat-x;
}

.news-type li a {
    display: block;
    color: #666;
    background: url(../images/li_bg.gif) no-repeat 5px center;
    text-indent: 20px;
}

.news-type li a:hover {
    color: #009cdf;
    background: url(../images/li_bg2.gif) no-repeat 5px center;
    background-color: #f2f2f2;
}

.news-content h2 {
    height: 35px;
    line-height: 35px;
    color: #666;
    background: url(../images/type_bg.png) repeat-x;
    text-indent: 20px;
}
.news-content span{padding-right:10px;}
.page-num {
    height: 40px;
    margin-top: 20px;
    text-align: center;
}
.page-num a {
    display: inline-block;
    border: solid 1px #999;
    margin: 0 8px;
    padding: 5px 10px;
}

.page_num a:link, .page_num a:visited {
    color: #000;
}

.page-num a:hover, .page-num a:active {
    color: #fff;
    background-color: #cc1b1b;
}
/*新闻内容页样式*/
.news-article {
    line-height: 30px;
    text-indent: 2em;
    overflow: auto;
    text-indent: 20px;
}
.news-article h3{margin:10px;}
.news-title {
    font-size: 20px;
    text-align: center;
}
.news-pub{
    color: #999;
    text-align: center;
}
.app-image img{width:500px;height:420px;display:block;}
.app-image {width:500px;height:420px;margin:0 auto;}

